<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>layout 后台大布局 - Layui</title>

	<link rel="stylesheet" href="../webjars/layui/2.4.5/css/layui.css">
	<script src=" https://cdnjs.cloudflare.com/ajax/libs/echarts/3.4.0/echarts.min.js "></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	<div class="layui-header">
		<div class="layui-logo">酒店后台管理系统</div>
		<!-- 头部区域（可配合layui已有的水平导航） -->
		<ul class="layui-nav layui-layout-left">
			<li class="layui-nav-item"><a href="">后台报修</a></li>
			<li class="layui-nav-item"><a href="">系统设置</a></li>
			<li class="layui-nav-item"><a href="">场所设置</a></li>
			<li class="layui-nav-item">
				<a href="javascript:;">其它</a>
				<dl class="layui-nav-child">
					<dd><a href="">会员管理</a></dd>
					<dd><a href="">技师管理</a></dd>
					<dd><a href="">酒水管理</a></dd>
				</dl>
			</li>
		</ul>
		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item">
				<a href="javascript:;">
					<img src="http://t.cn/RCzsdCq" class="layui-nav-img">
					用户
				</a>
				<dl class="layui-nav-child">
					<dd><a href="">基本资料</a></dd>
					<dd><a href="">安全设置</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item"><a href="">退出</a></li>
		</ul>
	</div>

	<div class="layui-side layui-bg-black">
		<div class="layui-side-scroll">
			<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
			<ul class="layui-nav layui-nav-tree"  lay-filter="test">
				<li class="layui-nav-item">
					<a href="javascript:;">房间信息</a>
					<dl class="layui-nav-child">
						<dd><a href="roomInformation">房间列表</a></dd>
						<dd><a href="roomUsed">已用房间</a></dd>
						<dd><a href="roomEmpty">空房间</a></dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a class="">订单信息</a>
					<dl class="layui-nav-child">
						<dd><a href="unCompleteOrder">未完成订单</a></dd>
						<dd><a href="completeOrder">已完成订单</a></dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a class="">员工信息</a>
					<dl class="layui-nav-child">
						<dd><a href="employee">入职员工</a></dd>
						<dd><a href="apply">员工申请</a></dd>
					</dl>
				</li>
				<li class="layui-nav-item layui-nav-itemed">
					<a class="">数据图表</a>
					<dl class="layui-nav-child">
						<dd class="layui-this"><a href="chartSeason">季度报表</a></dd>
						<dd><a href="chartYear">年度报表</a></dd>
					</dl>
				</li>
				<!--<li class="layui-nav-item"><a href="chartSeason">数据图表</a></li>-->
			</ul>
		</div>
	</div>

	<div class="layui-body">
		<!-- 内容主体区域 -->
		<div style=" margin-left: 100px;margin-top: 100px;float: left;">
			<div id="chartRoom" style="width:500px; height:500px;"></div>
		</div>
		<div style=" margin-left: 100px;margin-top: 100px;float: left;">
			<div id="chartProfit" style="width:500px; height:500px;"></div>
		</div>
	</div>

	<div class="layui-footer">
		<!-- 底部固定区域 -->
		© 后台系统
	</div>
</div>
<script src="../webjars/jquery/1.11.1/jquery.js"></script>
<script src="../webjars/layui/2.4.5/layui.js"></script>
<script>
	//JavaScript代码区域
	layui.use('element', function(){
		var element = layui.element;

	});
</script>
<script>
        $.ajax({
            url: "/user/monthOrder",
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                //console.log(JSON.stringify(data.money[0]));
                var chartRoom = echarts.init(document
                    .getElementById("chartRoom"));
                var option1 = {
                    title : {
                        text : '季度房间报表',
                        subtext : '每季度预订出的房间',
                        x : 'center'
                    },
                    toolbox : {
                        feature : {
                            saveAsImage : {}
                        }
                    },
                    tooltip : {
                        trigger : 'item',
                        formatter : "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend : {
                        orient : 'vertical',
                        left : 'left',
                        data : [ '第一季度', '第二季度', '第三季度', '第四季度' ]
                    },
                    series : [ {
                        name : '季度:',
                        type : 'pie',
                        radius : '55%',
                        center : [ '50%', '60%' ],
                        data : [ {
                            value : JSON.stringify(data.value[0])+JSON.stringify(data.value[1])+JSON.stringify(data.value[2]),
                            name : '第一季度'
                        }, {
                            value : JSON.stringify(data.value[3])+JSON.stringify(data.value[4])+JSON.stringify(data.value[5]),
                            name : '第二季度'
                        }, {
                            value : JSON.stringify(data.value[6])+JSON.stringify(data.value[7])+JSON.stringify(data.value[8]),
                            name : '第三季度'
                        }, {
                            value : JSON.stringify(data.value[9])+JSON.stringify(data.value[10])+JSON.stringify(data.value[11]),
                            name : '第四季度'
                        }, ],
                        itemStyle : {
                            emphasis : {
                                shadowBlur : 10,
                                shadowOffsetX : 0,
                                shadowColor : 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    } ]
                };
                //date重新配置
				chartRoom.setOption(option1);
                var chartProfit = echarts.init(document
                    .getElementById("chartProfit"));
                var option2 = {
                    title : {
                        text : '季度利润报表',
                        subtext : '每季度酒店利润',
                        x : 'center'
                    },
                    toolbox : {
                        feature : {
                            saveAsImage : {}
                        }
                    },
                    tooltip : {
                        trigger : 'item',
                        formatter : "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend : {
                        orient : 'vertical',
                        left : 'left',
                        data : [ '第一季度', '第二季度', '第三季度', '第四季度' ]
                    },
                    series : [ {
                        name : '季度：',
                        type : 'pie',
                        radius : '55%',
                        center : [ '50%', '60%' ],
                        data : [ {
                            value : JSON.stringify(data.money[0])+JSON.stringify(data.money[1])+JSON.stringify(data.money[2]),
                            name : '第一季度'
                        }, {
                            value : JSON.stringify(data.money[3])+JSON.stringify(data.money[4])+JSON.stringify(data.money[5]),
                            name : '第二季度'
                        }, {
                            value : JSON.stringify(data.money[6])+JSON.stringify(data.money[7])+JSON.stringify(data.money[8]),
                            name : '第三季度'
                        }, {
                            value : JSON.stringify(data.money[9])+JSON.stringify(data.money[10])+JSON.stringify(data.money[11]),
                            name : '第四季度'
                        }, ],
                        itemStyle : {
                            emphasis : {
                                shadowBlur : 10,
                                shadowOffsetX : 0,
                                shadowColor : 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    } ]
                };
				chartProfit.setOption(option2);
            }
        });
</script>

</body>
</html>

