<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="../webjars/layui/2.4.5/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">酒店后台管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">后台报修</a></li>
            <li class="layui-nav-item"><a href="">系统设置</a></li>
            <li class="layui-nav-item"><a href="">场所设置</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它</a>
                <dl class="layui-nav-child">
                    <dd><a href="">会员管理</a></dd>
                    <dd><a href="">技师管理</a></dd>
                    <dd><a href="">酒水管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    用户
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">房间信息</a>
                    <dl class="layui-nav-child">
                        <dd class="layui-this"><a href="roomInformation">房间列表</a></dd>
                        <dd><a href="roomUsed">已用房间</a></dd>
                        <dd><a href="roomEmpty">空房间</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="">订单信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="unCompleteOrder">未完成订单</a></dd>
                        <dd><a href="completeOrder">已完成订单</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="">员工信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="employee">入职员工</a></dd>
                        <dd><a href="apply">员工申请</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="">数据图表</a>
                    <dl class="layui-nav-child">
                        <dd><a href="chartSeason">季度报表</a></dd>
                        <dd><a href="chartYear">年度报表</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <table id="roomInformation" lay-filter="roomInformation"></table>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 后台系统
    </div>
</div>
<script src="../webjars/layui/2.4.5/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
<script>
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#roomInformation'
            ,url: '/admin/getAllRoom' //数据接口
            ,cols: [
                [ //表头
                    {field: 'roomId', title: '房间号', align:'center',width:120, sort: true, fixed: 'left'}
                    ,{field: 'roomName', title: '房间名', align:'center',width:200}
                    ,{field: 'roomPrice', title: '价钱',align:'center', width:80}
                    ,{field: 'roomExit', title: '房间是否有人预定',align:'center', width:150}
                ]
            ]
        });
    });
</script>
</body>
</html>
