<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="../webjars/layui/2.4.5/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout">
    <div class="layui-header">
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item"><a href="">房间预订</a></li>
            <li class="layui-nav-item layui-this"><a href="comment">评价</a></li>
            <li class="layui-nav-item"><a href="">大数据</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">解决方案</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a href="">移动模块</a></dd>
                    <dd><a href="">后台模版</a></dd>
                    <dd><a href="">电商平台</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">社区</a></li>
        </ul>
    </div>

    <div class="layui-layout-body">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">已评价</li>
                <li>待评价</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <table >
                        <tr th:each="comment:${commentList}">
                            <td style="width: 40px;" th:text="${comment.orderId}"></td>
                            <td style="width: 40px;" th:text="${comment.username}"></td>
                        </tr>
                    </table>
                </div>
                <div class="layui-tab-item">2</div>
            </div>
        </div>
    </div>

</div>
<script src="../webjars/jquery/1.11.1/jquery.js"></script>
<script src="../webjars/layui/2.4.5/layui.js"></script>
<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>
<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>
<script>
    function loadData() {
        $.ajax({
            type: "GET",
            url: "/user/getAllComment",
            dataType: "json",
            success: function (data) {
                console.log(data);
            }
        });
        $.ajax({
            type: "POST",
            url: "/user/comment",
            dataType: "json",
            success:function (data) {
                alert(aa);

            }
        })
    }
</script>

</body>
</html>