<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>房间详情</title>
    <link rel="stylesheet" href="../webjars/layui/2.4.5/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout">
    <div class="layui-layout-header">
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item layui-this"><a href="roomOrder">房间预订</a></li>
            <li class="layui-nav-item"><a href="comment">评价</a></li>
            <li class="layui-nav-item"><a href="userOrder">我的订单</a></li>
            <li class="layui-nav-item"><a href="apply">申请入职</a></li>
            <li class="layui-nav-item"><a href="">社区</a></li>
        </ul>
    </div>

    <div class="layui-layout-body">
        <span class="layui-breadcrumb" style="margin-left: 30px;">
            <a href="roomOrder">首页</a>
            <a><cite>房间详情</cite></a>
        </span>
        <div class="layui-carousel" id="test1" style="margin: 0 auto">
        <div carousel-item>
            <div style="background-color: bisque">条目1</div>
            <div style="background-color: antiquewhite">条目2</div>
            <div style="background-color: blanchedalmond">条目3</div>
            <div style="background-color: burlywood">条目4</div>
            <div style="background-color: brown">条目5</div>
        </div>
    </div>
    <div class="layui-tab  layui-tab-card" style="margin-left: 100px;margin-right: 100px">
        <ul class="layui-tab-title">
            <li class="layui-this">房间预订</li>
            <li>酒店信息</li>
            <li>住客点评</li>
        </ul>
        <div  class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div style="display:inline; vertical-align: top">
                    <img src="/img/roomImg.jpg" height="150" width="300"/>
                </div>
                <div style="display:inline">
                    <div style="display:inline">
                        <span th:text="${room.roomName}" id="roomName" style="font-size: 40px"></span>
                        <span style="color: #FF5722;font-size: 20px">￥</span>
                        <span th:text="${room.roomPrice}" style="color: #FF5722;font-size: 40px"></span>
                    </div>

                    <div style="display:inline; float: right" >
                        <button class="layui-btn" id="orderBtn">立即预订</button>
                        <a th:href="roomOrder"><button class="layui-btn">返回</button></a>
                    </div>

                </div>

            </div>
            <div class="layui-tab-item">
                <h1>联系电话</h1><br><p>158XXXXXXXX</p><br>
                <h1>酒店简介</h1><br><p>XXXXXXXXXXXXXXXXXXXXXXXXXX</p><br>
                <h1>酒店政策</h1><br><p>XXXXXXXXXXXXXXXXXXXXXXXXXX</p><br>
            </div>
        </div>
    </div>
</div>
<script src="../webjars/layui/2.4.5/layui.js"></script>
<script src="../webjars/jquery/1.11.1/jquery.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });
    });
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>
<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>
<script>
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '1200px' //设置容器宽度
            ,arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
</script>
<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
<script>
    $('#orderBtn').click(function () {
        var roomName = $('#roomName').text();
        var jsonData = {
            "roomName":roomName
        };
        $.ajax({
            url: "/user/getRoomByName",
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "text",
            data: JSON.stringify(jsonData),
            success: function (data) {
                if(data == 0){
                    alert("没有空房间");
                }else{
                    window.location.href = "/user/orderSet?roomName=" + roomName;
                }
            }
        })
    });
</script>
</body>
</html>