<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>房间预定</title>
    <link rel="stylesheet" href="../webjars/layui/2.4.5/css/layui.css">
</head>
<body class="layui-layout-body" style="background-color:#f2f2f2">
<div class="layui-layout">
    <div class="layui-layout-header">
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item layui-this"><a href="roomOrder">房间预订</a></li>
            <li class="layui-nav-item"><a href="comment">评价</a></li>
            <li class="layui-nav-item"><a href="userOrder">我的订单</a></li>
            <li class="layui-nav-item"><a href="apply">申请入职</a></li>
            <li class="layui-nav-item"><a href="">社区</a></li>
        </ul>
    </div>

    <div class="layui-layout-body">
        <span class="layui-breadcrumb" style="margin-left: 30px;">
          <a><cite>首页</cite></a>
        </span>
        <div class="layui-fluid" style="margin-top: 20px">
            <div class="layui-row" >
                    <div class="layui-col-sm3 layui-col-space3"th:each="room:${roomList}" >
                        <div class="layui-card " style="margin-left: 10px">
                            <a th:href="@{roomScan(roomId=${room.roomId})}"><div class="layui-card-header" th:text="${room.roomName}"></div></a>
                            <div class="layui-card-body">
                                <img src="../img/roomImg.jpg" style="width: 200px; height: 100px; vertical-align:top">
                                <span style="color: #FF5722;font-size: 20px">￥</span>
                                <span th:text="${room.roomPrice}" style="color: #FF5722; font-size: 30px"></span>
                            </div>
                        </div>
                    </div>

            </div>
        </div>

    </div>

</div>
<script src="../webjars/jquery/1.11.1/jquery.js"></script>
<script src="../webjars/layui/2.4.5/layui.js"></script>
<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>
<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>

</body>
</html>