<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="../webjars/layui/2.4.5/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout">
    <div class="layui-header">
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item"><a href="roomOrder">房间预订</a></li>
            <li class="layui-nav-item"><a href="comment">评价</a></li>
            <li class="layui-nav-item layui-this"><a href="userOrder">我的订单</a></li>
            <li class="layui-nav-item"><a href="apply">申请入职</a></li>
            <li class="layui-nav-item"><a href="">社区</a></li>
        </ul>
    </div>

    <div class="layui-layout-body">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li>已完成</li>
                <li class="layui-this">未完成</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item ">
                    <table >
                        <table id="completeOrder" lay-filter="completeOrder"></table>
                    </table>
                </div>

                <!--               未完成订单-->
                <div class="layui-tab-item layui-show">
                    <table id="unCompleteOrder" lay-filter="unCompleteOrder"></table>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="../webjars/jquery/1.11.1/jquery.js"></script>
<script src="../webjars/layui/2.4.5/layui.js"></script>
<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>
<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>

<script>
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#completeOrder'
            ,url: '/user/completeOrder' //数据接口
            ,cols: [
                [ //表头
                    {field: 'orderId', title: '订单号', width:80, sort: true, fixed: 'left'}
                    ,{field: 'roomId', title: '房间号', width:80}
                    ,{field: 'name', title: '入住者名字', width:80}
                    ,{field: 'telephone', title: '手机号', width:80}
                    ,{field: 'inDate', title: '入住时间', width:80}
                    ,{field: 'outDate', title: '离店时间', width:80}
                ]
            ]
        });

        table.render({
            elem: '#unCompleteOrder'
            ,url: '/user/unCompleteOrder' //数据接口
            ,cols: [
                [ //表头
                    {field: 'orderId', title: '订单号', width:80, sort: true, fixed: 'left'}
                    ,{field: 'roomId', title: '房间号', width:80}
                    ,{field: 'name', title: '入住者名字', width:80}
                    ,{field: 'telephone', title: '手机号', width:80}
                    ,{field: 'inDate', title: '入住时间', width:80}
                    ,{field: 'outDate', title: '离店时间', width:80}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                ]
            ]
        });
        //监听行工具事件
        var table = layui.table;
        var orderId;
        table.on('tool(noEvaluation)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'edit') {
                orderId = data.orderId;
                layer.prompt({
                    formType: 2
                }, function(value, index){
                    var jsonData = {
                        "orderId" : orderId,
                        "content" : value
                    };
                    alterComment(jsonData);
                    layer.close(index);
                });
            }
        });
    });
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">取消订单</a>
</script>
<script>
    function cancelOrder(jsonData) {
        $.ajax({
            url: "/user/updateOrder",
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(jsonData),
            success: function (data) {
                console.log(content);
            }
        })
    }
</script>
</body>
</html>