<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/resources/style/login.css">
    <link rel="stylesheet" href="/webjars/layui/2.4.5/css/layui.css"/>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/layui/2.4.5/layui.js"></script>
</head>
<body>
<form action="/login" method="post">
    <div class="head">酒&nbsp店&nbsp管&nbsp理&nbsp系&nbsp统</div>
    <div class="login-content">
        <div class="login-logle"><span>用户</span></div>
        <hr style="background-color:rgba(0,0,1,0.2);">
        <div class="login-name-content">
            <div class="login-name-logle">
                <i class="layui-icon layui-icon-username" style="font-size: 20px;color:white;"></i>
            </div>
            <div class="login-name-line"></div>
            <input class="name-input" id="name" name="username" type="text" placeholder="请输入用户名">
        </div>
        <div class="login-password-content">
            <div class="login-password-logle">
                <i class="layui-icon layui-icon-password" style="font-size: 20px;color:white;"></i>
            </div>
            <div class="login-password-line"></div>
            <input class="password-input" id="password" name="password" type="password" placeholder="请输入密码">
        </div>
        <div class="check-register">
            <a href="#">
                <div class="forget-password">忘记密码</div>
            </a>
            <a href="/registerPage" target="_blank">
                <div class="register">注册账号</div>
            </a>
        </div>
        <button class="login-button" type="submit">登 录</button>
    </div>
</form>
</body>
</html>