<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmut.hotel.mapper.ApplyMapper">
  <resultMap id="BaseResultMap" type="com.xmut.hotel.entity.Apply">
    <id column="apply_id" jdbcType="VARCHAR" property="applyId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="pass" jdbcType="INTEGER" property="pass" />
  </resultMap>
  <sql id="Base_Column_List">
    apply_id, name, sex, telephone, pass
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_apply
    where apply_id = #{applyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_apply
    where apply_id = #{applyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xmut.hotel.entity.Apply">
    insert into t_apply (apply_id, name, sex, 
      telephone, pass)
    values (#{applyId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{pass,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xmut.hotel.entity.Apply">
    insert into t_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applyId != null">
        apply_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="pass != null">
        pass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applyId != null">
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="pass != null">
        #{pass,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xmut.hotel.entity.Apply">
    update t_apply
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="pass != null">
        pass = #{pass,jdbcType=INTEGER},
      </if>
    </set>
    where apply_id = #{applyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xmut.hotel.entity.Apply">
    update t_apply
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      pass = #{pass,jdbcType=INTEGER}
    where apply_id = #{applyId,jdbcType=VARCHAR}
  </update>

<!--  通过pass获取申请表-->
  <select id="selectApplyByPass" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from t_apply where pass=#{pass,jdbcType=INTEGER}
  </select>

<!--  通过id 修改pass-->
  <update id="updateApplyPassById" parameterType="Apply">
        update t_apply set pass=#{pass,jdbcType=INTEGER} where apply_id=#{applyId,jdbcType=VARCHAR}
  </update>
</mapper>