<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmut.hotel.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.xmut.hotel.entity.Comment">
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="comment_time" jdbcType="VARCHAR" property="commentTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="star_number" jdbcType="DOUBLE" property="starNumber" />
    <result column="comment_exit" jdbcType="INTEGER" property="commentExit" />
  </resultMap>


  <select id="selectAllComment" resultMap="BaseResultMap">
        select * from t_comment
  </select>

<!--  通过是否评价来选取表-->
  <select id="selectCommentByExit" parameterType="Comment" resultMap="BaseResultMap">
        select * from t_comment where comment_exit = #{commentExit,jdbcType=INTEGER} and username =#{username,jdbcType=VARCHAR}
  </select>
<!--  添加评价内容-->
  <update id="updateCommentById" parameterType="Comment">
        update t_comment set content=#{content,jdbcType=VARCHAR}, comment_exit=#{commentExit,jdbcType=INTEGER} where order_id=#{orderId,jdbcType=VARCHAR}
  </update>
</mapper>