<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmut.hotel.mapper.RoomMapper">
  <resultMap id="BaseResultMap" type="com.xmut.hotel.entity.Room">
    <result column="room_id" jdbcType="VARCHAR" property="roomId" />
    <result column="room_name" jdbcType="VARCHAR" property="roomName" />
    <result column="room_price" jdbcType="INTEGER" property="roomPrice" />
    <result column="room_exit" jdbcType="INTEGER" property="roomExit" />
  </resultMap>

  <!--查询所有房间-->
  <select id="getAllRoom" resultMap="BaseResultMap">
        select * from t_room
  </select>
</mapper>