<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmut.hotel.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.xmut.hotel.entity.User">
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <insert id="insert" parameterType="com.xmut.hotel.entity.User">
    insert into t_user (username, password)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xmut.hotel.entity.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!--用户登录验证-->
  <select id="userlogin" parameterType="com.xmut.hotel.entity.User" resultType="com.xmut.hotel.entity.User">
      SELECT username,password FROM t_user WHERE username = #{username} AND password = #{password}
  </select>

  <!--新用户注册-->
  <insert id="adduser" parameterType="com.xmut.hotel.entity.User" useGeneratedKeys="true" keyProperty="id">
     INSERT INTO t_user (username,password) VALUES (#{username},#{password})
  </insert>
</mapper>